:root {
    --header-height: 3rem;
    --hue-color: 250;
    --first-color: hsl(198, 9%, 29%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --title-color: hsl(224, 0%, 99%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --body-color: hsla(156, 84%, 17%, 0.808);
    --container-color: #fff;
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --font-medium: 500;
    --font-semi-bold: 600;
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color)
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold)
}

header {
    background-color: var(--first-color)
}

.title {
    display: flex;
    justify-content: center;
    padding: var(--mb-0-5)
}

.title h1 {
    font-size: var(--h1-font-size);
    text-transform: uppercase
}

.container {
    padding: var(--mb-0-5) var(--mb-1)
}

.btns {
    display: flex;
    justify-content: space-around;
    padding: var(--mb-0-5) 0;
    margin: 0 5rem
}

.btn__color {
    padding: var(--mb-0-5);
    border-radius: .5rem;
    border: none;
    display: flex;
    align-items: center
}

.btn__color:hover {
    opacity: .7;
    cursor: pointer
}

.btn__color span {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-right: var(--mb-0-5)
}

.btn__icon {
    font-size: var(--mb-1-5);
    color: var(--title-color);
    margin-right: var(--mb-0-25)
}

.color__primary {
    background-color: rgba(255, 0, 0, .842)
}

.color__secundary {
    background-color: rgba(1, 161, 253, .822)
}

.deck {
    padding: var(--mb-1) 0;
    display: flex;
    justify-content: center;
    position: relative;
    height: 12rem
}

.cardBack {
    width: 7rem;
    position: relative;
    left: 3.6rem;
    margin-left: -6.9rem;
    transition: .3s
}

.cardMov {
    position: relative;
    transform: translateY(14.9rem) rotateY(180deg);
    transition: .3s
}

@keyframes deslis {
    from {
        left: 32.4rem
    }
    to {
        left: 4.2rem
    }
}

.cardM {
    width: 5rem;
    position: relative;
    left: 4.2rem;
    animation-name: deslis;
    animation-duration: .4s;
    margin-left: -3rem;
    transform: rotate(5deg);
    transition: .5s
}

.img {
    width: 5rem;
    left: 16.5rem;
    margin-left: -3.5rem
}

.cardMovComputer {
    position: relative;
    transform: translateY(18.3rem) rotateY(180deg);
    transition: .3s
}

.player {
    padding: var(--mb-0-5) 0
}

.computer {
    padding-bottom: var(--mb-1)
}

.cardComputer,
.cardPlayer {
    height: 12rem;
    padding-top: var(--mb-1)
}

.img {
    width: 7rem;
    position: relative;
    left: 5rem;
    margin-left: -3rem
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0
}

.credit {
    padding: var(--mb-1) 0;
    display: flex;
    justify-content: center
}

@media screen and (max-width:320px) {
    .btns {
        display: flex;
        justify-content: start;
        margin: 0
    }
    .btn__color {
        background-color: #8a2be2;
        width: 50%;
        margin-right: .8rem
    }
}

@media screen and (max-width:568px) {
    .title h1 {
        font-size: var(--h3-font-size)
    }
    .btns {
        margin: 0
    }
    .deck {
        height: 9rem
    }
    .cardBack {
        width: 5rem;
        position: relative;
        left: 2.5rem;
        margin-left: -4.9rem;
        transition: .3s
    }
    .cardMov {
        position: relative;
        transform: translateY(11.7rem) rotateY(180deg);
        transition: .3s
    }
    @keyframes deslis {
        from {
            left: 13.4rem
        }
        to {
            left: 4.2rem
        }
    }
    .cardM {
        width: 5rem;
        position: relative;
        left: 4.2rem;
        animation-name: deslis;
        animation-duration: .4s;
        margin-left: -3rem;
        transform: rotate(5deg);
        transition: .4s
    }
    .img {
        width: 5rem;
        left: 16.5rem;
        margin-left: -3.5rem
    }
    .cardComputer,
    .cardPlayer {
        height: 9rem
    }
}